---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/images/file.svg';
---

<Layout title='Welcome to Astro.'>
  <main>
    <!-- main info -->
    <div id='main-info'>
      <Image src={logo} alt='logo' />
    </div>
    <!-- end main info -->
  </main>
</Layout>
